.box{
	width:300px;
	height:150px;
	border: 1px solid grey;
}

.navbar-header{
	width:100%;
	margin:auto;
}

.navbar-text{
}

.aside{
	width:20%;
	height:300px;
	border: 1px solid skyblue;
}

.row{
	margin-left:5%;
	/*width:50%;*/
}

#maps{
	width:100%;
	height:400px;
}

#googleMap{
	width:100%;
	height:70%;
	text-align:right;
}

#zoneIcone{
	width:100%;
	height:10%;
}

#wrapper{
	padding:0 10% 0 10%;
	height:100%;
	width:90%;
	margin:auto;
}

div img{
	width:100%;
	height:100%;
}

body{
	width:90%;
	margin:auto;
}